@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./css/themes.css');

html,
body {
  font-family: "Inter", -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  min-height: 100vh;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header,
footer {
  background: lightcoral;
  padding: 1rem;
  text-align: center;
}

header {
  background: lightcoral;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sidebar-left {
  padding: 1rem;
  width: 250px;
}

.content {
  flex: 1;
}

.sidebar-right {
  background: grey;
  padding: 1rem;
  width: 200px;
}


input {
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
